* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: green;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  font-size: 22px;
  float: left;
  margin-top: 35px;
  margin-left: 15px;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}

.author-box {
  padding-top: 20px;
  border-top: 1px solid #333;
}

.other-posts {
  width: 25%;
  float: left;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.other {
  margin-bottom: 50px;
}

.author-box img {
  height: 100;
  width: 100;
  border-radius: 50%;
  float: left;
}

.blog-post img {
  height: 150px;
  width: auto;
}

.date {
  position: absolute;
  right: 30px;
  top: 30px;
}
